// Estilos de botones
$button-background: #130303;
$button-color: #ffcdbc;
$button-border-radius: 1rem;
$button-font-family: "Barlow";
$button-font-weight: 400;
$button-font-size: 1.9vw;
$button-padding: 10%;
$button-transition: transform 1s;
$button-white-space: nowrap;

// Estilos de botones en estado hover
$button-hover-transform: scale(1.4);