@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;600&family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

@import "variables";
@import "botones";
@import "navbar";
@import "prendas";
@import "footer";
@import "ofertas";
@import "productos";
@import "preguntas";
@import "contactos";
@import "media-queries";