$color-background: #250707;
$color-text: #ffcdbc;
$color-accent: #572828;
$color-secondary: #947b73;

// Fuentes
$font-quicksand: "Quicksand", sans-serif;
$font-barlow: "Barlow", sans-serif;

// Tamaños
$text-size-h1: 6vw;
$text-size-h2: 2.5em;
$text-size-h3: 2vw;
$text-size-p: 1.5vw;
$text-size-button: 1.9vw;

// Espaciado
$spacing-base: 0.5%;
$spacing-section: 3.75rem;
$spacing-prenda: 18%;
$spacing-form: 14%;
$spacing-gutter: 1%;
$spacing-footer: 1%;
$spacing-product-text: 1vw;

// Imágenes
$image-border-radius: 10%;

// Otros
$transition-duration: 1s;
$hover-scale: 1.4;